<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
</head>
<body>
    <h1>Student Form</h1>
    <form action="/submit_form" method="post">
        <label for="firstname">First Name:</label><br>
        <input type="text" id="firstname" name="firstname"><br>
        
        <label for="middlename">Middle Name:</label><br>
        <input type="text" id="middlename" name="middlename"><br>
        
        <label for="lastname">Last Name:</label><br>
        <input type="text" id="lastname" name="lastname"><br>
        
        <label for="rollnumber">Roll Number:</label><br>
        <input type="text" id="rollnumber" name="rollnumber"><br>
        
        <label for="course">Course:</label><br>
        <input type="text" id="course" name="course"><br>
        
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year"><br>
        
        <label for="gender">Gender:</label><br>
        <input type="text" id="gender" name="gender"><br>
        
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
